@font-face {
    font-family: "Minecraft";
    /*src: url("fonts/MinecraftBold-nMK1.otf");
    src: url("fonts/MinecraftBoldItalic-1y1e.otf");
    src: url("fonts/MinecraftItalic-R8Mo.otf");*/
    src: url("fonts/MinecraftRegular-Bmg3.otf");
}

ul {
    list-style-type: none;
}

.Start {
    position: relative;
    text-align: center;
}

.Title {
    font-size: 70px;
    background-color: royalblue;
}

.menu {
    width: 200px;
    background-color: lightseagreen;
    border: 2px solid green;
    padding: 5px;
    margin: 2px;
}


.inventory {
    border-spacing: 0px;
    margin: 0px;
}

.inventory-slot {
    position: relative;
}

.background-slot {
    width:65px;
    height:65px;
    z-index:0;
}

.inventory-item-dropdown {
    display: none;
    position: absolute;
    background-color: #000000;
    font-family:"Minecraft";
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    overflow:auto
}

.item-in-slot {
    position: absolute;
    top:7px;
    left:7px;
    width:50px;
    height:50px;
    z-index:1;
}

.item-count {
    position: absolute;
    bottom:5px;
    right:5px;
    font-family: "Minecraft";
    font-size: 20px;
    z-index:2;
    color: white;
}

.§0 {
    color: black;
}
.§8 {
    color: #555555;
}
.§7 {
    color: #AAAAAA;
}
.§f {
    color: white;
}
.§5 {
    color: #AA00AA;
}
.§d {
    color: #FF55FF;
}
.§9 {
    color: #5555FF;
}
.§1 {
    color: #0000AA;
}
.§3 {
    color: #00AAAA;
}
.§b {
    color: #55FFFF;
}
.§a {
    color: #55FF55;
}
.§2 {
    color: #00AA00;
}
.§e {
    color: #FFFF55;
}
.§6 {
    color: #FFAA00;
}
.§c {
    color: #FF5555;
}
.§4 {
    color: #AA0000;
}

.inventory-slot:hover .inventory-item-dropdown {display: block;}